<div class="landing-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-8 col-md-offset-2">

        <div class="hidden-sm hidden-md hidden-lg text-center img-phone">
          <%= image_tag "Placeholder.png" %>
        </div>
        <div class="wrapper">
          <div class="left-section hidden-xs">
            <%= image_tag "Placeholder.png" %>
          </div>
          <div class="right-section">
            <h1 id="logo" class="text-center">Sam Precious Metals</h1>
            <div class="main-content text-center">
              <h2>Our Website is coming soon</h2>
              <p>In the mean time connect with us with the information provided</p>
            </div>
            <small><hr></small>
            <ul class="info">
              <li><i class="fa fa-phone-square"></i>+971-505-693-427</li>
              <!-- <li><i class="fa fa-map-marker-alt"></i>301 Clematis. Suite 3000, West Palm Beach, FL 33401</li> -->
              <li><i class="fas fa-inbox"></i>P.O box 485028-Dubai-UAE</li>
              <li><i class="fa fa-envelope"></i><a href="#">info@sampreciousmetals.com</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
